#main:has(#theme-assistant) {

  #main_headline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #theme-assistant-headline {
      display: inline-block;
      padding-left: 20px;

      background: url('/bundles/contaothememanagerbridge/icons/assistant.svg') left center no-repeat;
    }

    #theme-assistant-buttons{

      a{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .content{
    background: transparent;
    border: 0 none;
  }
}

#theme-assistant{

  .assistant-module{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 15px 0;

    > h2{
      margin: 0 15px 15px;
      flex-basis: 100%;
      width: 100%;
    }

    &:after{
      clear: both;
    }
  }

  .card{
    width: 100%;
    max-width: 280px;
    margin: 0 15px 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    text-align: center;

    .header{
      position: relative;
      min-height: 80px;
      text-align: center;
      color: #787878;

      background-color: currentColor;
      background-image:
              repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
              repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
              linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
              linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
      background-size: 70px 120px;

      .logo{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 70px;
        height: 70px;
        border: 2px solid #e9e9e9;
        border-radius: 50%;
        background: white;
        overflow: hidden;

        &:after {
          display: block;
          content: "";

          height: 40px;
          width: 40px;

          background: url('/bundles/contaothememanagerbridge/icons/assistant.svg') center center no-repeat;
          background-size: contain;
          filter: grayscale(100%);
          opacity: .5;
        }

        &:has(figure):after {
          display: none;
        }
      }
    }

    .body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 25px 25px;
      min-height: 60px;

      .empty{
        color: #b3b3b3;
        margin: auto;
      }

      .name{
        font-weight: 600;
        margin-bottom: 8px;
      }
    }

    .footer{
      padding: 20px 25px;
      border-top: 1px solid #efefef;

      a.tl_submit{
        color: #a1a1a1;
        border-color: currentColor;
        background: transparent;
        font-size: 12px;

        &:hover{
          color: #7a7a7a;
        }
      }
    }
  }

  .tags, .actions {
    display: flex;
    justify-content: center;
  }

  .tags{

    > div{
      display: inline-block;
      font-size: .9em;

      padding: 3px 6px;
      margin: 0 2px;

      color: #b3b3b3;
      border-radius: 3px;
      border: 1px solid currentColor;

      &.version{
        color: #20871a;
      }
    }
  }

  .actions{

    > a{
      display: inline-block;
      margin: 0 4px;
    }
  }
}

.theme-assistant-modal.tingle-modal {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: rgb(0 0 0 / 15%);

  h2{
    margin-bottom: 15px;
  }

  p{
    color: #a1a1a1;
    line-height: 1.2em;
  }

  .tingle-modal-box{
    width: 90%;
    max-width: 350px;

    &__content{
      padding: 25px;
    }

    &__footer{
      padding: 15px;
      text-align: right;

      button + button{
        margin-left: 10px;
      }
    }
  }

  .widget-container{

    .widget {
      margin-left: 0;
      margin-right: 0;

      + .widget{
        margin-top: 5px;
      }
    }

    &:after{
      display: block;
      content: "";
      clear: both;
    }
  }
}
